.link-L {
    display: flex inline-block;
    padding: 2rem 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start; 

    font-size: var(--fs-button);
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase; 
}

a {
    width: fit-content;
}


.link-S {
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-S);
    color: var(--clr-black-900);

    position: relative;
    text-decoration: none;
    margin: 1rem 0;
}

.link-S::after {
    content: "";
    position: absolute;
    top: 1.8rem;
    margin: auto;
    width: 100%;
    height: 0.15rem; 
    background-color: var(--clr-black-900);
    border-radius: 0.5rem; 
    display: flex;
    align-items: center;
  }

.flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button {
    cursor: pointer;
    display: flex;
    min-width: 15.5rem;
    min-height: 5rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    margin: 1rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--clr-black-900);
    color: var(--clr-white-900);


    &.btn-primary {
        font-family: var( --ff-primary);
        font-size: var(--fs-button);
        font-weight: var(--fw-semi-bold);
    }
button.btn-secondary {
    background-color: var(--clr-white-900);
    color: var(--clr-black-900);
    border: 0.18rem solid var(--clr-black-900);

    font-family: var(--ff-primary);
    font-size: var(--fs-button);
    font-weight: var(--fw-semi-bold);
}

.btn-container {
    width: 100%;
}

.btn-long {
    width: 100%;
}

.icon {
    padding: 0.5rem;
}