/* Global States*/
.nav-link:focus,
.summary:focus {
    outline-offset: .5rem;
}

/* Link */
.link-in-text {
    text-decoration: underline 1px solid var(--clr-white-900);
    text-underline-offset: .3rem;
    transition: transform 0.5s ease-in-out;
}

.link-in-text:hover {
    text-decoration: underline 2px solid var(--clr-white-900);
    text-underline-offset: .4rem;
}

.link-S {
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-S);
    color: var(--clr-black-900);
    overflow-wrap: break-word;
    position: relative;
    width:100%;

    text-decoration: underline .13rem solid var(--clr-black-900);
    text-underline-offset: .3rem;

    margin: 1rem 0;

    transition: transform 0.5s ease;
}

.flex {
    display: flex;
    height:auto;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.width-50 {
    max-width: 50rem;
}

.white {
    color: var(--clr-white-900)!important;
    text-decoration: underline 0.13rem solid var(--clr-white-900);
    text-underline-offset: .3rem;
}

.material-symbols-outlined {
    transition: transform 0.3s ease;
}

.flex:hover span.material-symbols-outlined {
    transform: translateX(.7rem);
  }

.flex:hover .link-S {
    transform: translateX(.5rem);
    text-decoration: none;
  }



/* Link */

/* Buttons */

button {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    min-width: 15.5rem;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    border-radius: 0.5rem;
    border: 0.18rem solid var(--clr-black-900);
}

.btn-primary {
    font-family: var(--ff-primary);
    font-size: var(--fs-button);
    font-weight: var(--fw-semi-bold);

    background-color: var(--clr-black-900);
    color: var(--clr-white-900);

    transition: 0.2s ease-in-out;
}



.btn-primary:hover,
.btn-primary:focus {
    box-shadow: 6px 6px 0px 0px var(--clr-accent-lilac);  
    background-color: var(--clr-white-900);
    color: var(--clr-black-900);
    border: 0.18rem solid var(--clr-accent-lilac);
}

button.btn-secondary {
    background-color: var(--clr-white-900);
    color: var(--clr-black-900);
    border: 0.18rem solid var(--clr-black-900);

    font-family: var(--ff-primary);
    font-size: var(--fs-button);
    font-weight: var(--fw-semi-bold);

    transition: 0.2s ease-in-out;
}

.btn-secondary:hover,
.btn-secondary:focus {
    box-shadow: 6px 6px 0px 0px var(--clr-black-900);  
    border: 0.18rem solid var(--clr-black-900);   
}

.btn-container {
    width: 100%;
    padding: 1rem;
}

.btn-primary.btn-long, .btn-secondary.btn-long {
    width:100%;
}

/* Buttons */

.icon {
    padding: 0.5rem;
}

