
/* Visit Us Card */

.visit-home__container-top {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 1200px;
}



@media (max-width:55em) {
    .visit-home__container-top {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

.visit-us__card {
    --spacing-Card:clamp(1rem, 10vw + 1rem, 5rem);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: var(--spacing-Card);
    height: 100%;

    & h2 {
        padding: 1rem 0;
        flex-shrink: 0;
    }

    & a {
        padding:0 0.5rem 1rem 0;
    }

    & img {
        padding: 1rem 0;
        max-height: 204px;
        width: 100%;
        object-fit: cover;
        aspect-ratio: auto;
    }
}


.lilac {
    background-color: var(--clr-accent-lilac);
}

.yellow {
    background-color: var(--clr-accent-yellow);
}


.item .heading-M {
    display: flex;
    flex-basis: 100%;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
}

.visit-us__location {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    padding: 1rem 0;

}

.visit-us__card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem 0 2rem 0;
}

}

.half-bleed