
/* Visit Us Card */

.visit-home__container-top {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 1200px;
}



@media (max-width:55em) {
    .visit-home__container-top {
        grid-template-columns: repeat(1, 1fr);
    }

    .center-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    
}

.visit-us__card {
    --spacing-Card:clamp(1rem, 10vw + 1rem, 5rem);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: var(--spacing-Card);
    height: 100%;
}

.visit-us__card h2 {
    padding: 1rem 0;
    flex-shrink: 0;
}

.visit-us__card a {
    padding:0 0.5rem 1rem 0;
}

.visit-us__card img {
    max-height: 204px;
    width: 100%;
    object-fit: cover;
    margin: 1rem 0;
    aspect-ratio: auto;
    border-radius: 0.5rem;
}

.lilac {
    background-color: var(--clr-accent-lilac);
}

.yellow {
    background-color: var(--clr-accent-yellow);
}


.item .font-M {
    display: flex;
    flex-basis: 100%;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
}

.visit-us__location {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    padding: 1rem 0;

}

.visit-us__card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem 0 2rem 0;
}

/* Product Card Image Utility Classes */
    /* Explore */


.card-img[data-category="kids"] {
background-image: var(--card-img-kids);
}

.card-img[data-category="teachers"] {
background-image: var(--card-img-teachers);
}

.card-img[data-category="researchers"] {
background-image: var(--card-img-researchers);
}

/* Spaces variables */

.card-img[data-category="cosmology"] {
background-image: var(--card-img-cosmology);
}

.card-img[data-category="evolution"] {
background-image: var(--card-img-evolution);
}

.card-img[data-category="biomed"] {
background-image: var(--card-img-biomed);
}

.card-img[data-category="robotics"] {
    background-image: var(--card-img-robotics);
}
 
/* Exhibitons */

.card-img[data-category="professor"] {
    background-image: var(--card-img-professor);
}

.card-img[data-category="night"] {
    background-image: var(--card-img-night);
}

.card-img[data-category="energetica"] {
    background-image: var(--card-img-energetica);
}

.card-img[data-category="eco"] {
    background-image: var(--card-img-eco); 
}

/* Support Us */

.card-img[data-category="volunteer"] {
background-image: var(--card-img-volunteer);
}

.card-img[data-category="internship"] {
background-image: var(--card-img-internship);
}


/* Product Card */      

.product-card {
    display: flex;
    min-width: 14.5rem;
    max-width: 33rem;
    height: auto;
    max-height: 53rem;

    padding: 1.5rem;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;

    border-radius: 0.5rem;
    background-color: var(--clr-white-900);
    border: 0.3rem solid var(--clr-white-900);

    transition: 0.2s ease-in-out;

    cursor: pointer;
}

.product-card:hover {
    box-shadow: 12px 12px 0px 0px var(--clr-accent-lilac);
    outline-offset: 3px;
    border: 0.18rem solid var(--clr-accent-lilac);
    background-color: var(--clr-white-900);
    color: var(--clr-black-900);
}

/* IMG */

.card-img {
    background-image: var(--card-img-kids, none);
    width: 100%;
    min-height: 21rem;
    margin-top: 1rem;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    object-fit: cover;
}

.product-card__category {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
}

.product-card__content {
    display: flex;
    flex-direction: column;
    margin:1.5rem;
    gap: 1rem;
}

.product-card__content .truncate {
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

}

.product-card__title {
    margin-bottom: 0.5rem;
}


.product-card__container {
    display: grid;
    width:100%;
    grid-template-columns: 1fr;
    gap: var(--spacing-M);
    align-items:start;
    justify-items: center;
    margin: var(--spacing-M) 0;
}



.product-card__container-wide {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-M);
    align-items: center;
    justify-items: center;
    margin-top: 5rem;
    margin-inline: 2rem;
    width: auto;
}

@media (min-width: 77em) {
    .product-card__container {
      grid-template-columns: repeat(auto-fill, minmax(33rem, 2fr));
    }
}

@media (min-width: 77em) {
    .product-card__container-wide {
        grid-template-columns: repeat(auto-fill, minmax(33rem, 3fr));
    }    
    
}

/* @media (max-width: 88em) {
    .product-card__container-wide {
      flex-direction: column;
    }
} */