

footer {
    color: var(--clr-white-900);
    padding: 3.25rem 0;

    
    & a {
        color: var(--clr-white-900);
        text-decoration: none;
    }     
}

.footer-columns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__container-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-link-white {
    font-size: var(--fs-S);
    font-weight: var(--fw-regular);
    color: var(--clr-white-900);
    text-transform: uppercase;
    text-decoration: none;
    padding:1rem 0;
    display: flex;
}

.nav-title {
    padding: 1rem 0;
    display: inline;
}

.footer__nav-links {
    padding:1rem 0;
}


@media (min-width: 60em) {
    .footer-columns {
        display: flex;
        flex-direction: row;
    }

    .footer-nav-links {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }


    .footer__container-right {
        flex: 1;
        justify-content: flex-end;
    }
}



