/* Support Us */
.input__container {
    padding-left: 1rem;
    background-color: var(--clr-white-900);
    border: 0.18rem solid var(--clr-accent-lilac);
    border-radius: 0.5rem;

    display: flex;
    gap: 0.5rem;
    align-items: center;
    width:100%;
}

.donation {
    margin: 5rem 0;
}

.flex-1 {
    flex:2;
}

.flex-2 {
    flex:1;
}

.input-hint {
    text-align: left;
}

.input__container input {
    border: none;
    padding: 1rem 0;
    width: auto;
}

.donation__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
    width: 100%;
}

/* Contact Us */

.contact {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.contact-form__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.message {
    overflow: auto;
    resize: vertical;
}

.contact-form__form {
    margin: 3rem 1rem;
}

.contact-form__form input, textarea {
    max-width: 50rem;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 0.1rem solid var(--clr-accent-lilac-200);
    box-shadow: ;
    border-radius: 0.5rem;
    font-size: var(--fs-S);
}

input::placeholder {
    color: var(--clr-accent-lilac);
}

