@import url(/css/footer.css);
@import url(/css/main-nav.css);
@import url(/css/product-card.css);
@import url(/css/root.css);
@import url(/css/visit-us-card.css);


:root {

    /* Colors */

    --clr-black-900:rgba(18, 20, 23, 1);
    --clr-black-400:rgba(89, 98, 117, 1);
    --clr-black-200:rgba(200, 203, 209, 1);
    --clr-white-900:rgba(254, 254, 254, 1);

    --clr-accent-lilac:rgba(119, 139, 235, 1);
    --clr-accent-lilac-200:rgba(187, 197, 245, 1);
    --clr-accent-pink:rgba(207, 106, 135, 1);
    --clr-accent-yellow:rgba(247, 215, 148, 1);
    --clr-accent-blue:rgba(99, 205, 218, 1);
   

    /* Fonts */

    --ff-primary:'Lato', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-XL: clamp(2.25rem, 10vw + 1rem, 8rem);
    --fs-L: clamp(2.25rem, 5vw + 1rem, 4rem);
    --fs-M: clamp(1.25rem, 5vw + 0.25rem, 2.25rem);
    --fs-S: clamp(1rem, 3vw + 0.25rem, 1.25rem);
    --fs-XS: clamp(0.75rem, 3vw + 0.25rem, 1rem);

    --fs-button: 1.25rem;
    /* Box shadow */

    --box-shadow-card: box-shadow: 6px 6px 0px 0px, #BBC5F;

    /* Spacing */

    --spacing-XS: clamp(0.25rem, 3vw + 0.25rem, 0.5rem);
    --spacing-S: clamp(1rem, 5vw + 0.25rem, 2rem);
    --spacing-M: clamp(3rem, 10vw + 1rem, 5rem);
    /* --spacing-L: clamp(2rem, 10vw + 1rem, 3rem);
    --spacing-XL: clamp(3rem, 10vw + 1rem, 5rem);
    --spacing-XXL: clamp(0rem, 10vw + 1rem, 0rem); */


}

/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */

* {
    margin:0;
    padding:0;
    font: inherit;
}

/* Remove list styles */
ul,
ol {
    list-style: none;
}

/* Clickable element */

button {
    cursor: pointer;
}

/* Avoid double scroll bars */
html,
body {
    height: 100%;
}

/* Make images easier to work with  */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Font set-up */
body {
    font-family: var(--ff-primary);
    color: var(--clr-black-900);
    background-color: var(--clr-white-900);
}

.heading-XL {
    font-size: var(--fs-XL);
    font-weight: var(--fw-bold);
    overflow-wrap: break-word;
    text-transform: uppercase;
}

.heading-L {
    font-size: var(--fs-L);
    font-weight: var(--fw-bold);
}

.heading-M {
    font-size: var(--fs-L);
    font-weight: var(--fw-semi-bold);
}

.heading-S {
    font-size: var(--fs-M);
    font-weight: var(--fw-regular);
}

p {
    font-size: var(--fs-S);
    font-weight: var(--fw-regular);
    line-height: 140%;
}

/* Utility classes */

.container {
    --max-width: 1200px;
    --inline-margins: 2rem;

    width: min(var(--max-width), 100% - var(--inline-margins));
    margin-inline: auto;
}

/* bg */
.bg-black {
    background-color: var(--clr-black-900);
}

.bg-lilac {
    background-color: var(--clr-accent-lilac);
}

.bg-blue {
    background-color: var(--clr-accent-blue);
}

.bg-pink {
    background-color: var(--clr-accent-pink);
    width: 100%;
    height: 100%;

}

.bg-yellow {
    background-color: var(--clr-accent-yellow);
}

/* font */

.fw-bold { font-weight: var(--fw-bold); }

.fw-semi-bold { font-weight: var(--fw-semi-bold); }

.fw-regular { font-weight: var(--fw-regular); }

.caption { 
    font-size: var(--fs-XS); 
    font-weight: var(--fw-regular)}

.all-caps {
    text-transform: uppercase;
}

.nav-link {
    font-size: var(--fs-S);
    font-weight: var(--fw-regular);
    color: var(--clr-black-900);
    text-transform: uppercase;
    text-decoration: none;
}

/* Spacing */

.spacing-S {
    padding-block: var(--spacing-XS);
}

.spacing-M {
    padding-block: var(--spacing-S);
}

.spacing-L {
    padding-block: var(--spacing-M);
}

.spacing-P {
    padding-block: var(--spacing-S);
}

