@import url(/css/footer.css);
@import url(/css/main-nav.css);
@import url(/css/buttons.css);
@import url(/css/cards.css);
@import url(/css/details-menu.css);
@import url(/css/inputs.css);

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src:url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');
    font-display: swap;
  }

:root {

    /* Colors */

    --clr-black-900:rgba(18, 20, 23, 1);
    --clr-black-shadow:rgba(18, 20, 23, );
    --clr-black-200:rgba(200, 203, 209, 1);
    --clr-black-400:rgba(89, 98, 117, 1);
    --clr-black-700: rgba(74, 82, 98, 1);
    --clr-white-900:rgba(254, 254, 254, 1);
    --clr-background-global:rgba(240, 242, 252, 1);

    --clr-accent-lilac:rgba(119, 139, 235, 1);  
    --clr-lilac-900: rgba(40, 46, 78, 1);
    --clr-lilac-700-shadow: rgba(60, 70, 118, 0.5);
    --clr-accent-lilac-200:rgba(187, 197, 245, 1);
    --clr-accent-pink:rgba(207, 106, 135, 1);
    --clr-accent-yellow:rgba(247, 215, 148, 1);
    --clr-accent-blue:rgba(99, 205, 218, 1);
   

    /* Fonts */

    --ff-primary:'Lato', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-XL: clamp(2.25rem, 10vw + 1rem, 8rem);
    --fs-L: clamp(2.25rem, 5vw + 1rem, 4rem);
    --fs-M: clamp(1.25rem, 5vw + 0.25rem, 2.25rem);
    --fs-S: clamp(1rem, 3vw + 0.25rem, 1.25rem);
    --fs-XS: clamp(0.75rem, 3vw + 0.1rem, 1rem);

    --fs-button: 1.25rem;


    /* Spacing */

    --spacing-XS: clamp(0.25rem, 3vw + 0.25rem, 0.5rem);
    --spacing-S: clamp(1rem, 5vw + 0.25rem, 2rem);
    --spacing-M: clamp(3rem, 10vw + 1rem, 5rem);
    --spacing-XL: clamp(12rem, 20vw + 1rem, 18.25rem);


    /* Images */

    --card-img-kids: url(../assets/img/img-provided/billetto-editorial-334686.jpg);
    --card-img-teachers: url(../assets/img/img-provided/icons8-team-FcLyt7lW5wg-unsplash.jpg);
    --card-img-researchers: url(../assets/img/img-provided/andrew-ruiz-348421.jpg);


    --card-img-cosmology: url(../assets/img/img-provided/aldebaran-s-qtRF_RxCAo0-unsplash.jpg);
    --card-img-evolution: url(../assets/img/img-provided/fatih-kilic-1kPJhqTUWo4-unsplash.jpg);
    --card-img-biomed: url(../assets/img/img-provided/skeleton-414543_1920.jpg);
    --card-img-robotics: url(../assets/img/img-provided/david-leveque-GpNOhig3LSU-unsplash.jpg);


    --card-img-professor: url(../assets/img/img-provided/scientific-2040795_1280.jpg);
    --card-img-night: url(../assets/img/img-provided/celso-405219.jpg);
    --card-img-energetica: url(../assets/img/img-provided/samuel-zeller-158996.jpg);
    --card-img-eco: url(../assets/img/img-provided/lisa-yount-zcZPjDqG-Ao-unsplash.jpg);

    --card-img-volunteer: url(../assets/img/img-provided/exhibition-1863344_1920.jpg);
    --card-img-internship: url(../assets/img/img-provided/people-219985_1280.jpg);
}
  
/* CSS RESET */

/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */

* {
    margin:0;
    padding:0;
    font: inherit;
}

/* Remove list styles */
ul,
ol {
    list-style: none;
}

/* Avoid double scroll bars */
html,
body {
    height: 100%;
    background-color: var(--clr-background-global);
    font-family:var(--ff-primary), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Make images easier to work with  */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove built-in type */
input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
}

main {
    margin-top: var(--spacing-XL);
}

a {
    padding: 0;
}

/* CSS RESET */


/* UTILITY CLASSES */

.container {
    --max-width: 1200px;
    --inline-margins: 2rem;

    width: min(var(--max-width), 100% - var(--inline-margins));
    margin-inline: auto;
}

/* Background */

.bg-black {
    background-color: var(--clr-black-900);
}

.bg-lilac {
    background-color: var(--clr-accent-lilac);
    box-shadow: 0 0 0 20vmax var(--clr-accent-lilac);
    clip-path: inset(1- 10vmax);
    width: 100%;
    height: 100%;
}

.bg-blue {
    background-color: var(--clr-accent-blue);
    box-shadow: 0 0 0 15vmax var(--clr-accent-blue);
    clip-path: inset(1 -10vmax);
}

.bg-pink {
    background-color: var(--clr-accent-pink);
    box-shadow: 0 0 0 0 var(--clr-accent-pink);
    clip-path: inset(1 -10vmax);
    width: 100%;
    height: 100%;

}

.bg-yellow {
    background-color: var(--clr-accent-yellow);
    box-shadow: 0 0 0 15vmax var(--clr-accent-yellow);
    clip-path: inset(1 -10vmax);
    
}

/* Fonts */

.fw-bold { font-weight: var(--fw-bold); }

.fw-semi-bold { font-weight: var(--fw-semi-bold); }

.fw-regular { font-weight: var(--fw-regular); }


body {
    font-family: var(--ff-primary);
    color: var(--clr-black-900);
}

.font-XL {
    font-size: var(--fs-XL);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

.font-L {
    font-size: var(--fs-L);
    font-weight: var(--fw-bold);
}

.font-M {
    font-size: var(--fs-M);
    font-weight: var(--fw-semi-bold);
    
}

.font-S {
    font-size: var(--fs-M);
    font-weight: var(--fw-regular);
}

.font-XXS { 
    font-size: var(--fs-XS); 
    font-weight: var(--fw-regular);
    font-family: var(--ff-body);
}

p, .p {
    font-size: var(--fs-S);
    font-weight: var(--fw-regular);
    line-height: 170%;
}

.p.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
    padding: 0;
  }

.all-caps {
    text-transform: uppercase;
}

.centered {
    text-align: center;
}

.margin-bot {
    margin-bottom: clamp(3rem, 10vw + 1rem, 5rem);
}

.txt-color-accent {
    color: var(--clr-lilac-700);
}

.txt-color-accent-light {
    color: var(--clr-black-200);
}


.txt-color-grey {
    color: var(--clr-black-700);
}


/* Icons  */

span.size-24 {
    font-size: 24px;
    font-variation-settings: 'OPSZ' 24;
    padding: 0.5rem;
}

span.size-40 {
font-size: 40px;
font-variation-settings: 'OPSZ' 40;
padding: 0.5rem;
}


/* Spacing */

.spacing-S {
    padding-block: var(--spacing-XS);
}

.spacing-M {
    padding-block: var(--spacing-S);
}

.spacing-L {
    padding-block: var(--spacing-M);
}

.spacing-P {
    padding-block: var(--spacing-S);
}

/* Box Shadow */

.shadow-XS {
    box-shadow: 0px 4px 0px 0px var(--clr-accent-lilac-200);
}

.shadow-S {
    box-shadow: 6px 6px 0px 0px var(--clr-lilac-700-shadow);
}

/* Image */

.img__container-XL img {
    --border-img: clamp(0.5rem, 3vw + 0.5rem, 3rem);

    width: 100%;
    max-height:43rem;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: auto ;
}

.border-blue img {
    border: var(--border-img) solid var(--clr-accent-blue);
}

.border-white img {
    border: var(--border-img) solid var(--clr-white-900);
}

.visit-us__card-img img {
    background: linear-gradient(
        rgba
        30%
    );
}



/* Home Page */

.product-grid__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.hero {
    text-align: center; 
    margin-top: 5rem;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding:0 1.5rem 1.5rem 1.5rem;
}


.hero h1,h2 {
    padding: 1rem 0;
}

.hero p {
    padding: 0.5rem;
}

/* Privacy Policy and Terms Page */

.hero-document > h1 {
    text-align: center;
}


.hero-document__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    gap: 1rem;
    margin:2rem 0;
    overflow-wrap: break-word;
}

.details-menu__wrapper {
    margin: 1.5rem 2rem;
}

.details-menu__wrapper .details-menu__content {
    margin: 5rem 0;
    /* border-bottom: 1px solid var(--clr-accent-lilac-200); */
}

.document {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%  ;
}

/* Exhibtions page */
.hero-exhb__title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.hero-exhb {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.hero-exhb__description {
    padding: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.events {
    text-align: center;
    
}

.events__buttons {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    height: fit-content;
    width: 100%;
}

/* Contact Us */


.contact__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-description__group {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    flex-direction: column;
    gap: 0;
}

main.contact-us {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-S);
}
          


